.blurry-text-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.blurry-text {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  transition: filter 0.1s ease-out;
  max-width: 80%;
  text-align: center;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}
